{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Registro de usuario {% endblock title %}</title>

{% block content %}
<center>

    <form method="POST" style="margin-top: 300px;">
        <h1 class="h1"> Iniciar Sesión </h1>
        <br>
        <div class="messages">
            {% for message in messages %}
                <table {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}  </table>
            {% endfor %}
        </div>
        <br>
        {% csrf_token %}
        <div class="container">
            <table>{{ form }}</table>
            <br>
            <a style="color: black;" href="{% url 'apps.usuario:RegistrarUsuario' %}">No estas registrado. Registrate</a>
            <br><br>
            <button type="submit" class="btn btn-succes btn-lg px-3">Iniciar sesión</button>
        </div>
    </form>

</center>
{% endblock %}