{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<center>
    <form method="POST" style="margin: 200px;">
        <h1>Formulario de contacto</h1>
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class='message {{ message.tags }}'>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <table>
            {% csrf_token %}
            {{ form }}
        </table>
        <input type="submit" value="enviar">
    </form>
</center>

{% endblock %}